<h2>General Info</h2>

<div class="contributor--section">
  <mat-card *ngFor="let cntbtr of allContributors;" class="card--contributor">
    <mat-card-header>
      <mat-card-title>
        {{cntbtr.firstName}} <span class="text--uppercase">{{cntbtr.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        {{cntbtr.position}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{cntbtr.from}}
    </mat-card-content>
  </mat-card>
</div>
