@import '~dragula/dist/dragula.css';
@import 'variables';
@import 'styles/typography';
@import "~@ctrl/ngx-emoji-mart/picker";


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$app-night-theme: mat-dark-theme($app-night-primary, $app-night-accent, $app-night-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.nightTheme {
  @include angular-material-theme($app-night-theme);
  background-color: #303030;
  color: #ffffff;

  a:link:not(.mat-button):not(.logo) {
    color: map-get($app-night-primary, A100)
  }

  a:visited:not(.mat-button):not(.logo) {
    color: map-get($app-night-primary, A200)
  }

  mat-option.mat-selected {
    color: map-get($app-night-primary, A100) !important;
  }

  .messages {
    .content {
      background-color: map-get($mat-grey, 600) !important;
    }
  }

  .answers, .messages, .msg-input, .msg-input-footer, .mat-form-field-wrapper .mat-input-element {
    background-color: map-get($mat-grey, 800);
  }
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root > .app-wrapper {
  > .mat-toolbar .mat-toolbar-row,
  > .app-content {
    @include maxSideMargin;
    width: auto;
  }
}

.avatar {
  border-radius: 50%;
}

.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: map-get($app-primary, 'default');

  $offset: 187;
  $duration: 1.4s;

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: $offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }

  .loading-spinner-path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: map-get($app-accent, 'default');

    animation: dash $duration ease-in-out infinite;
  }

  .loading-spinner {
    animation: rotator $duration linear infinite;
  }
}

.text-danger {
  color: red;
}

.pull-right {
  float: right;
}

.comments-dialog {
  width:100%;
  height: 100%;
  @include bp(md) {
    width: 50%;
    height: 90%;
  }
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}

.emoji-mart {
   height: 179px !important;
   width: 100% !important;
}

.emoji-mart-scroll {
  width: 100% !important;
  height: inherit !important;
}

.emoji-mart-category-label {
  display: none !important;
}

.emoji {
  height: 1.2em;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
